<a href="https://colab.research.google.com/github/sanskriti17204/python_np/blob/main/PANDA%20tut.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import numpy as np
from sklearn import datasets

In [16]:
irisdataset = datasets.load_breast_cancer()

In [17]:
print(irisdataset)

{'data': array([[1.799e+01, 1.038e+01, 1.228e+02, ..., 2.654e-01, 4.601e-01,
        1.189e-01],
       [2.057e+01, 1.777e+01, 1.329e+02, ..., 1.860e-01, 2.750e-01,
        8.902e-02],
       [1.969e+01, 2.125e+01, 1.300e+02, ..., 2.430e-01, 3.613e-01,
        8.758e-02],
       ...,
       [1.660e+01, 2.808e+01, 1.083e+02, ..., 1.418e-01, 2.218e-01,
        7.820e-02],
       [2.060e+01, 2.933e+01, 1.401e+02, ..., 2.650e-01, 4.087e-01,
        1.240e-01],
       [7.760e+00, 2.454e+01, 4.792e+01, ..., 0.000e+00, 2.871e-01,
        7.039e-02]]), 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1]), 'frame': None, 'target_names': array(['malignant', 'benign'], dtype='<U9'), 'DESCR': '.. _breast_cancer_dataset:\n\nBreast cancer wisconsin (diagnostic) dataset\n--------------------------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 569\n\n    :Number of Attributes: 30 numeric, predictive attributes and the class\n\n    :Attribute Information:\n        - radius (mean of distances from center to points on the perimeter)\n        - texture (standard deviation of gray-scale values)\n        - perimeter\n        - area\n        - smoothness (local variation in radius lengths)\n        - compactness (perimeter^2 / area - 1.0)\n        - concavity (severity of concave portions of the contour)\n        - concave points (number of concave portions of the contour)\n        - symmetry\n        - fractal dimension ("coastline approximation" - 1)\n\n        The mean, standard error, and "worst" or largest (mean of the three\n        worst/largest values) of these features were computed for each image,\n        resulting in 30 features.  For instance, field 0 is Mean Radius, field\n        10 is Radius SE, field 20 is Worst Radius.\n\n        - class:\n                - WDBC-Malignant\n                - WDBC-Benign\n\n    :Summary Statistics:\n\n    ===================================== ====== ======\n                                           Min    Max\n    ===================================== ====== ======\n    radius (mean):                        6.981  28.11\n    texture (mean):                       9.71   39.28\n    perimeter (mean):                     43.79  188.5\n    area (mean):                          143.5  2501.0\n    smoothness (mean):                    0.053  0.163\n    compactness (mean):                   0.019  0.345\n    concavity (mean):                     0.0    0.427\n    concave points (mean):                0.0    0.201\n    symmetry (mean):                      0.106  0.304\n    fractal dimension (mean):             0.05   0.097\n    radius (standard error):              0.112  2.873\n    texture (standard error):             0.36   4.885\n    perimeter (standard error):           0.757  21.98\n    area (standard error):                6.802  542.2\n    smoothness (standard error):          0.002  0.031\n    compactness (standard error):         0.002  0.135\n    concavity (standard error):           0.0    0.396\n    concave points (standard error):      0.0    0.053\n    symmetry (standard error):            0.008  0.079\n    fractal dimension (standard error):   0.001  0.03\n    radius (worst):                       7.93   36.04\n    texture (worst):                      12.02  49.54\n    perimeter (worst):                    50.41  251.2\n    area (worst):                         185.2  4254.0\n    smoothness (worst):                   0.071  0.223\n    compactness (worst):                  0.027  1.058\n    concavity (worst):                    0.0    1.252\n    concave points (worst):               0.0    0.291\n    symmetry (worst):                     0.156  0.664\n    fractal dimension (worst):            0.055  0.208\n    ===================================== ====== ======\n\n    :Missing Attribute Values: None\n\n    :Class Distribution: 212 - Malignant, 357 - Benign\n\n    :Creator:  Dr. William H. Wolberg, W. Nick Street, Olvi L. Mangasarian\n\n    :Donor: Nick Street\n\n    :Date: November, 1995\n\nThis is a copy of UCI ML Breast Cancer Wisconsin (Diagnostic) datasets.\nhttps://goo.gl/U2Uwz2\n\nFeatures are computed from a digitized image of a fine needle\naspirate (FNA) of a breast mass.  They describe\ncharacteristics of the cell nuclei present in the image.\n\nSeparating plane described above was obtained using\nMultisurface Method-Tree (MSM-T) [K. P. Bennett, "Decision Tree\nConstruction Via Linear Programming." Proceedings of the 4th\nMidwest Artificial Intelligence and Cognitive Science Society,\npp. 97-101, 1992], a classification method which uses linear\nprogramming to construct a decision tree.  Relevant features\nwere selected using an exhaustive search in the space of 1-4\nfeatures and 1-3 separating planes.\n\nThe actual linear program used to obtain the separating plane\nin the 3-dimensional space is that described in:\n[K. P. Bennett and O. L. Mangasarian: "Robust Linear\nProgramming Discrimination of Two Linearly Inseparable Sets",\nOptimization Methods and Software 1, 1992, 23-34].\n\nThis database is also available through the UW CS ftp server:\n\nftp ftp.cs.wisc.edu\ncd math-prog/cpo-dataset/machine-learn/WDBC/\n\n.. topic:: References\n\n   - W.N. Street, W.H. Wolberg and O.L. Mangasarian. Nuclear feature extraction \n     for breast tumor diagnosis. IS&T/SPIE 1993 International Symposium on \n     Electronic Imaging: Science and Technology, volume 1905, pages 861-870,\n     San Jose, CA, 1993.\n   - O.L. Mangasarian, W.N. Street and W.H. Wolberg. Breast cancer diagnosis and \n     prognosis via linear programming. Operations Research, 43(4), pages 570-577, \n     July-August 1995.\n   - W.H. Wolberg, W.N. Street, and O.L. Mangasarian. Machine learning techniques\n     to diagnose breast cancer from fine-needle aspirates. Cancer Letters 77 (1994) \n     163-171.', 'feature_names': array(['mean radius', 'mean texture', 'mean perimeter', 'mean area',
       'mean smoothness', 'mean compactness', 'mean concavity',
       'mean concave points', 'mean symmetry', 'mean fractal dimension',
       'radius error', 'texture error', 'perimeter error', 'area error',
       'smoothness error', 'compactness error', 'concavity error',
       'concave points error', 'symmetry error',
       'fractal dimension error', 'worst radius', 'worst texture',
       'worst perimeter', 'worst area', 'worst smoothness',
       'worst compactness', 'worst concavity', 'worst concave points',
       'worst symmetry', 'worst fractal dimension'], dtype='<U23'), 'filename': 'breast_cancer.csv', 'data_module': 'sklearn.datasets.data'}

In [18]:
irisdataframe=pd.DataFrame(irisdataset.data, columns = irisdataset.feature_names)

In [19]:
irisdataframe.describe()   #gives all the comparing calculations

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
count,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,...,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000
mean,14.127292,19.289649,91.969033,654.889104,0.096360,0.104341,0.088799,0.048919,0.181162,0.062798,...,16.269190,25.677223,107.261213,880.583128,0.132369,0.254265,0.272188,0.114606,0.290076,0.083946
std,3.524049,4.301036,24.298981,351.914129,0.014064,0.052813,0.079720,0.038803,0.027414,0.007060,...,4.833242,6.146258,33.602542,569.356993,0.022832,0.157336,0.208624,0.065732,0.061867,0.018061
min,6.981000,9.710000,43.790000,143.500000,0.052630,0.019380,0.000000,0.000000,0.106000,0.049960,...,7.930000,12.020000,50.410000,185.200000,0.071170,0.027290,0.000000,0.000000,0.156500,0.055040
25%,11.700000,16.170000,75.170000,420.300000,0.086370,0.064920,0.029560,0.020310,0.161900,0.057700,...,13.010000,21.080000,84.110000,515.300000,0.116600,0.147200,0.114500,0.064930,0.250400,0.071460
50%,13.370000,18.840000,86.240000,551.100000,0.095870,0.092630,0.061540,0.033500,0.179200,0.061540,...,14.970000,25.410000,97.660000,686.500000,0.131300,0.211900,0.226700,0.099930,0.282200,0.080040
75%,15.780000,21.800000,104.100000,782.700000,0.105300,0.130400,0.130700,0.074000,0.195700,0.066120,...,18.790000,29.720000,125.400000,1084.000000,0.146000,0.339100,0.382900,0.161400,0.317900,0.092080
max,28.110000,39.280000,188.500000,2501.000000,0.163400,0.345400,0.426800,0.201200,0.304000,0.097440,...,36.040000,49.540000,251.200000,4254.000000,0.222600,1.058000,1.252000,0.291000,0.663800,0.207500

In [20]:
#adding a column to a dataframe
irisdataframe['price'] = irisdataset.target
irisdataframe.head()
#removing a row
irisdataframe.drop(index=1,axis=0)
irisdataframe.drop(columns='mean radius', axis=1)  
#  irisdataframe.drop([0]) #drops the zeroth row
#  irisdataframe.drop(['mean radius', 'mean perimeter'], axis=0, inplace=True)  #by putting inplace it makes changes in the original dataframe

,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,radius error,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,price
0,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,0.07871,1.0950,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,0
1,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,0.05667,0.5435,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,0
2,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,0.05999,0.7456,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,0
3,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,0.2597,0.09744,0.4956,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,0
4,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,0.05883,0.7572,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,0.05623,1.1760,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,0
565,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,0.05533,0.7655,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,0
566,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,0.05648,0.4564,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,0
567,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,0.07016,0.7260,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,0
568,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,0.05884,0.3857,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,1

In [21]:
#locating a row using index value
irisdataframe.iloc[2]

mean radius                  19.690000
mean texture                 21.250000
mean perimeter              130.000000
mean area                  1203.000000
mean smoothness               0.109600
mean compactness              0.159900
mean concavity                0.197400
mean concave points           0.127900
mean symmetry                 0.206900
mean fractal dimension        0.059990
radius error                  0.745600
texture error                 0.786900
perimeter error               4.585000
area error                   94.030000
smoothness error              0.006150
compactness error             0.040060
concavity error               0.038320
concave points error          0.020580
symmetry error                0.022500
fractal dimension error       0.004571
worst radius                 23.570000
worst texture                25.530000
worst perimeter             152.500000
worst area                 1709.000000
worst smoothness              0.144400
worst compactness             0.424500
worst concavity               0.450400
worst concave points          0.243000
worst symmetry                0.361300
worst fractal dimension       0.087580
price                         0.000000
Name: 2, dtype: float64

In [72]:
#locating a particular column
print(irisdataframe.iloc[:,0])   # : means all---- [:,n] means all rows, [n.:] means all columns
print(irisdataframe.loc[[1,2],'mean perimeter'])  #prints 1th row to 2nd row and mean permimeter colums
print(irisdataframe.iloc[:,1])
print(irisdataframe.iloc[:,-1])  #last column
#   irisdataframe.iloc[:,[4]]= 56   #the 4th column was mean smoothness so it made every value equal to 56
#  print(irisdataframe)

0      17.99
1      20.57
2      19.69
3      11.42
4      20.29
       ...
564    21.56
565    20.13
566    16.60
567    20.60
568     7.76
Name: mean radius, Length: 569, dtype: float64
1    132.9
2    130.0
Name: mean perimeter, dtype: float64
0      10.38
1      17.77
2      21.25
3      20.38
4      14.34
       ...
564    22.39
565    28.25
566    28.08
567    29.33
568    24.54
Name: mean texture, Length: 569, dtype: float64
0      0.11890
1      0.08902
2      0.08758
3      0.17300
4      0.07678
        ...
564    0.07115
565    0.06637
566    0.07820
567    0.12400
568    0.07039
Name: worst fractal dimension, Length: 569, dtype: float64

In [23]:
irisdataframe.corr()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,price
mean radius,1.000000,0.323782,0.997855,0.987357,0.170581,0.506124,0.676764,0.822529,0.147741,-0.311631,...,0.297008,0.965137,0.941082,0.119616,0.413463,0.526911,0.744214,0.163953,0.007066,-0.730029
mean texture,0.323782,1.000000,0.329533,0.321086,-0.023389,0.236702,0.302418,0.293464,0.071401,-0.076437,...,0.912045,0.358040,0.343546,0.077503,0.277830,0.301025,0.295316,0.105008,0.119205,-0.415185
mean perimeter,0.997855,0.329533,1.000000,0.986507,0.207278,0.556936,0.716136,0.850977,0.183027,-0.261477,...,0.303038,0.970387,0.941550,0.150549,0.455774,0.563879,0.771241,0.189115,0.051019,-0.742636
mean area,0.987357,0.321086,0.986507,1.000000,0.177028,0.498502,0.685983,0.823269,0.151293,-0.283110,...,0.287489,0.959120,0.959213,0.123523,0.390410,0.512606,0.722017,0.143570,0.003738,-0.708984
mean smoothness,0.170581,-0.023389,0.207278,0.177028,1.000000,0.659123,0.521984,0.553695,0.557775,0.584792,...,0.036072,0.238853,0.206718,0.805324,0.472468,0.434926,0.503053,0.394309,0.499316,-0.358560
mean compactness,0.506124,0.236702,0.556936,0.498502,0.659123,1.000000,0.883121,0.831135,0.602641,0.565369,...,0.248133,0.590210,0.509604,0.565541,0.865809,0.816275,0.815573,0.510223,0.687382,-0.596534
mean concavity,0.676764,0.302418,0.716136,0.685983,0.521984,0.883121,1.000000,0.921391,0.500667,0.336783,...,0.299879,0.729565,0.675987,0.448822,0.754968,0.884103,0.861323,0.409464,0.514930,-0.696360
mean concave points,0.822529,0.293464,0.850977,0.823269,0.553695,0.831135,0.921391,1.000000,0.462497,0.166917,...,0.292752,0.855923,0.809630,0.452753,0.667454,0.752399,0.910155,0.375744,0.368661,-0.776614
mean symmetry,0.147741,0.071401,0.183027,0.151293,0.557775,0.602641,0.500667,0.462497,1.000000,0.479921,...,0.090651,0.219169,0.177193,0.426675,0.473200,0.433721,0.430297,0.699826,0.438413,-0.330499
mean fractal dimension,-0.311631,-0.076437,-0.261477,-0.283110,0.584792,0.565369,0.336783,0.166917,0.479921,1.000000,...,-0.051269,-0.205151,-0.231854,0.504942,0.458798,0.346234,0.175325,0.334019,0.767297,0.012838
radius error,0.679090,0.275869,0.691765,0.732562,0.301467,0.497473,0.631925,0.698050,0.303379,0.000111,...,0.194799,0.719684,0.751548,0.141919,0.287103,0.380585,0.531062,0.094543,0.049559,-0.567134
texture error,-0.097317,0.386358,-0.086761,-0.066280,0.068406,0.046205,0.076218,0.021480,0.128053,0.164174,...,0.409003,-0.102242,-0.083195,-0.073658,-0.092439,-0.068956,-0.119638,-0.128215,-0.045655,0.008303
perimeter error,0.674172,0.281673,0.693135,0.726628,0.296092,0.548905,0.660391,0.710650,0.313893,0.039830,...,0.200371,0.721031,0.730713,0.130054,0.341919,0.418899,0.554897,0.109930,0.085433,-0.556141
area error,0.735864,0.259845,0.744983,0.800086,0.246552,0.455653,0.617427,0.690299,0.223970,-0.090170,...,0.196497,0.761213,0.811408,0.125389,0.283257,0.385100,0.538166,0.074126,0.017539,-0.548236
smoothness error,-0.222600,0.006614,-0.202694,-0.166777,0.332375,0.135299,0.098564,0.027653,0.187321,0.401964,...,-0.074743,-0.217304,-0.182195,0.314457,-0.055558,-0.058298,-0.102007,-0.107342,0.101480,0.067016
compactness error,0.206000,0.191975,0.250744,0.212583,0.318943,0.738722,0.670279,0.490424,0.421659,0.559837,...,0.143003,0.260516,0.199371,0.227394,0.678780,0.639147,0.483208,0.277878,0.590973,-0.292999
concavity error,0.194204,0.143293,0.228082,0.207660,0.248396,0.570517,0.691270,0.439167,0.342627,0.446630,...,0.100241,0.226680,0.188353,0.168481,0.484858,0.662564,0.440472,0.197788,0.439329,-0.253730
concave points error,0.376169,0.163851,0.407217,0.372320,0.380676,0.642262,0.683260,0.615634,0.393298,0.341198,...,0.086741,0.394999,0.342271,0.215351,0.452888,0.549592,0.602450,0.143116,0.310655,-0.408042
symmetry error,-0.104321,0.009127,-0.081629,-0.072497,0.200774,0.229977,0.178009,0.095351,0.449137,0.345007,...,-0.077473,-0.103753,-0.110343,-0.012662,0.060255,0.037119,-0.030413,0.389402,0.078079,0.006522
fractal dimension error,-0.042641,0.054458,-0.005523,-0.019887,0.283607,0.507318,0.449301,0.257584,0.331786,0.688132,...,-0.003195,-0.001000,-0.022736,0.170568,0.390159,0.379975,0.215204,0.111094,0.591328,-0.077972
worst radius,0.969539,0.352573,0.969476,0.962746,0.213120,0.535315,0.688236,0.830318,0.185728,-0.253691,...,0.359921,0.993708,0.984015,0.216574,0.475820,0.573975,0.787424,0.243529,0.093492,-0.776454
worst texture,0.297008,0.912045,0.303038,0.287489,0.036072,0.248133,0.299879,0.292752,0.090651,-0.051269,...,1.000000,0.365098,0.345842,0.225429,0.360832,0.368366,0.359755,0.233027,0.219122,-0.456903
worst perimeter,0.965137,0.358040,0.970387,0.959120,0.238853,0.590210,0.729565,0.855923,0.219169,-0.205151,...,0.365098,1.000000,0.977578,0.236775,0.529408,0.618344,0.816322,0.269493,0.138957,-0.782914
worst area,0.941082,0.343546,0.941550,0.959213,0.206718,0.509604,0.675987,0.809630,0.177193,-0.231854,...,0.345842,0.977578,1.000000,0.209145,0.438296,0.543331,0.747419,0.209146,0.079647,-0.733825
worst smoothness,0.119616,0.077503,0.150549,0.123523,0.805324,0.565541,0.448822,0.452753,0.426675,0.504942,...,0.225429,0.236775,0.209145,1.000000,0.568187,0.518523,0.547691,0.493838,0.617624,-0.421465
worst compactness,0.413463,0.277830,0.455774,0.390410,0.472468,0.865809,0.754968,0.667454,0.473200,0.458798,...,0.360832,0.529408,0.438296,0.568187,1.000000,0.892261,0.801080,0.614441,0.810455,-0.590998
worst concavity,0.526911,0.301025,0.563879,0.512606,0.434926,0.816275,0.884103,0.752399,0.433721,0.346234,...,0.368366,0.618344,0.543331,0.518523,0.892261,1.000000,0.855434,0.532520,0.686511,-0.659610
worst concave points,0.744214,0.295316,0.771241,0.722017,0.503053,0.815573,0.861323,0.910155,0.430297,0.175325,...,0.359755,0.816322,0.747419,0.547691,0.801080,0.855434,1.000000,0.502528,0.511114,-0.793566
worst symmetry,0.163953,0.105008,0.189115,0.143570,0.394309,0.510223,0.409464,0.375744,0.699826,0.334019,...,0.233027,0.269493,0.209146,0.493838,0.614441,0.532520,0.502528,1.000000,0.537848,-0.416294
worst fractal dimension,0.007066,0.119205,0.051019,0.003738,0.499316,0.687382,0.514930,0.368661,0.438413,0.767297,...,0.219122,0.138957,0.079647,0.617624,0.810455,0.686511,0.511114,0.537848,1.000000,-0.323872
price,-0.730029,-0.415185,-0.742636,-0.708984,-0.358560,-0.596534,-0.696360,-0.776614,-0.330499,0.012838,...,-0.456903,-0.782914,-0.733825,-0.421465,-0.590998,-0.659610,-0.793566,-0.416294,-0.323872,1.000000

In [24]:
type(irisdataset)

sklearn.utils._bunch.Bunch

In [58]:
irisdataframe= pd.DataFrame(irisdataset.data, columns = irisdataset.feature_names)
#print(irisdataframe.head())               #prints first 5 rows
#print(irisdataframe.shape)                #prints the shape of the dataset
#print(type(irisdataframe))                #tells the type of the dataframe
#print(irisdataframe.tail())               #prints last 5 rows
#print(irisdataframe.info())               #gives the info abput the dataframe
#print(irisdataframe.isnull())             #tells if there is any missing value
#print(irisdataframe.isnull().sum())       #tells the total number of missing values 
#print(irisdataframe.mean())
#print( irisdataframe.std())
#print(irisdataframe.min())
#print(irisdataframe.max())
#irisdataframe.loc[(irisdataframe['mean perimeter']>160)]   #prints those rows which has mean perimeter greater than 160
#irisdataframe.loc[(irisdataframe['mean perimeter']>160) & (irisdataframe['mean radius']>25)]

In [26]:
#csv file to panda dataframe
cities_df= pd.read_csv('/csvfile.csv')
print(cities_df)

                  name alpha-2 alpha-3  country-code     iso_3166-2   region  \
0          Afghanistan      AF     AFG             4  ISO 3166-2:AF     Asia
1       ÃƒÂ…land Islands      AX     ALA           248  ISO 3166-2:AX   Europe
2              Albania      AL     ALB             8  ISO 3166-2:AL   Europe
3              Algeria      DZ     DZA            12  ISO 3166-2:DZ   Africa
4       American Samoa      AS     ASM            16  ISO 3166-2:AS  Oceania
..                 ...     ...     ...           ...            ...      ...
244  Wallis and Futuna      WF     WLF           876  ISO 3166-2:WF  Oceania
245     Western Sahara      EH     ESH           732  ISO 3166-2:EH   Africa
246              Yemen      YE     YEM           887  ISO 3166-2:YE     Asia
247             Zambia      ZM     ZMB           894  ISO 3166-2:ZM   Africa
248           Zimbabwe      ZW     ZWE           716  ISO 3166-2:ZW   Africa

             sub-region intermediate-region  region-code  sub-region-code  \
0         Southern Asia                 NaN        142.0             34.0
1       Northern Europe                 NaN        150.0            154.0
2       Southern Europe                 NaN        150.0             39.0
3       Northern Africa                 NaN          2.0             15.0
4             Polynesia                 NaN          9.0             61.0
..                  ...                 ...          ...              ...
244           Polynesia                 NaN          9.0             61.0
245     Northern Africa                 NaN          2.0             15.0
246        Western Asia                 NaN        142.0            145.0
247  Sub-Saharan Africa      Eastern Africa          2.0            202.0
248  Sub-Saharan Africa      Eastern Africa          2.0            202.0

     intermediate-region-code
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4                         NaN
..                        ...
244                       NaN
245                       NaN
246                       NaN
247                      14.0
248                      14.0

[249 rows x 11 columns]

In [27]:
type(cities_df)

pandas.core.frame.DataFrame

In [28]:
print(cities_df.head())   #prints top 5 rows
print(cities_df.head(2))  #prints top 2 rows
print(cities_df.tail(2))   #prints last 2 rows

             name alpha-2 alpha-3  country-code     iso_3166-2   region  \
0     Afghanistan      AF     AFG             4  ISO 3166-2:AF     Asia
1  ÃƒÂ…land Islands      AX     ALA           248  ISO 3166-2:AX   Europe
2         Albania      AL     ALB             8  ISO 3166-2:AL   Europe
3         Algeria      DZ     DZA            12  ISO 3166-2:DZ   Africa
4  American Samoa      AS     ASM            16  ISO 3166-2:AS  Oceania

        sub-region intermediate-region  region-code  sub-region-code  \
0    Southern Asia                 NaN        142.0             34.0
1  Northern Europe                 NaN        150.0            154.0
2  Southern Europe                 NaN        150.0             39.0
3  Northern Africa                 NaN          2.0             15.0
4        Polynesia                 NaN          9.0             61.0

   intermediate-region-code
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
             name alpha-2 alpha-3  country-code     iso_3166-2  region  \
0     Afghanistan      AF     AFG             4  ISO 3166-2:AF    Asia
1  ÃƒÂ…land Islands      AX     ALA           248  ISO 3166-2:AX  Europe

        sub-region intermediate-region  region-code  sub-region-code  \
0    Southern Asia                 NaN        142.0             34.0
1  Northern Europe                 NaN        150.0            154.0

   intermediate-region-code
0                       NaN
1                       NaN
         name alpha-2 alpha-3  country-code     iso_3166-2  region  \
247    Zambia      ZM     ZMB           894  ISO 3166-2:ZM  Africa
248  Zimbabwe      ZW     ZWE           716  ISO 3166-2:ZW  Africa

             sub-region intermediate-region  region-code  sub-region-code  \
247  Sub-Saharan Africa      Eastern Africa          2.0            202.0
248  Sub-Saharan Africa      Eastern Africa          2.0            202.0

     intermediate-region-code
247                      14.0
248                      14.0

In [73]:
print(cities_df.shape)
print(cities_df.value_counts('region'))  #specifies the number of time that same value has been taken in tht particular column
print(cities_df.groupby('region').mean)  #group the values based on their mean
print(cities_df.count())   #counts the number of values
cities_df['name'].value_counts(dropna=False)  #dropna equals true removes the row that contains null values,
# equals false will also specify the number of NaN values

(249, 11)
region
Africa      60
Americas    57
Asia        51
Europe      51
Oceania     29
dtype: int64
<bound method GroupBy.mean of <pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fd944713cd0>>
name                        249
alpha-2                     248
alpha-3                     249
country-code                249
iso_3166-2                  249
region                      248
sub-region                  248
intermediate-region         107
region-code                 248
sub-region-code             248
intermediate-region-code    107
dtype: int64

Afghanistan      1
Panama           1
New Caledonia    1
New Zealand      1
Nicaragua        1
                ..
Grenada          1
Guadeloupe       1
Guam             1
Guatemala        1
Zimbabwe         1
Name: name, Length: 249, dtype: int64

In [76]:
excel_df=pd.read_excel('/country_full.xlsx')
# agr excel file mein sheets h to ('path' , sheet_name='sheet name')
print(excel_df.head())
excel_df['country-code']= None   #will make the values of all rows of country code NaN
#excel_df['country-code'].isnull()  #tell how many values are NaN
# .notnull will give true for is not null and otherwise
# excel_df.dropna(will removes row and columns that contain null values)
#excel_df.dropna(how='all')
#how=all will remove rows or columns when all values are numm ,,, how=any will remove row and column if any of the value is null(default)
#drop_dupkucates is also a method and  subset and keep is an attribute

                   name alpha-2 alpha-3  country-code     iso_3166-2   region  \
0           Afghanistan      AF     AFG             4  ISO 3166-2:AF     Asia
1  Ãƒ_x0085_land Islands      AX     ALA           248  ISO 3166-2:AX   Europe
2               Albania      AL     ALB             8  ISO 3166-2:AL   Europe
3               Algeria      DZ     DZA            12  ISO 3166-2:DZ   Africa
4        American Samoa      AS     ASM            16  ISO 3166-2:AS  Oceania

        sub-region intermediate-region  region-code  sub-region-code  \
0    Southern Asia                 NaN        142.0             34.0
1  Northern Europe                 NaN        150.0            154.0
2  Southern Europe                 NaN        150.0             39.0
3  Northern Africa                 NaN          2.0             15.0
4        Polynesia                 NaN          9.0             61.0

   intermediate-region-code
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN

In [33]:
irisdataframe.to_csv('iris.csv')   #exporting a dataframe to csv file contains index as well
irisdataframe1 = irisdataframe.to_csv('fram1.csv', index=False)    #exporting a dataframe to csv file do not contain index 
print(irisdataframe1)

None

In [34]:
#exporting a dataframe to excel file
irisdataframe.to_excel('iris.xlsx')

In [36]:
#creating a dataframe with random values
rand_df=pd.DataFrame(np.random.rand(20,10))
print(rand_df.head())
print(rand_df[0][1])  #prints value of zeroth column and first row

          0         1         2         3         4         5         6  \
0  0.341873  0.295847  0.640416  0.999460  0.248536  0.446696  0.120250
1  0.524763  0.324360  0.839151  0.265943  0.086381  0.121497  0.703427
2  0.814838  0.571038  0.271439  0.138655  0.774751  0.079665  0.016038
3  0.167322  0.482633  0.597122  0.670067  0.538418  0.825167  0.203989
4  0.631340  0.964477  0.290899  0.120906  0.225097  0.630882  0.134887

          7         8         9
0  0.916002  0.849067  0.929590
1  0.245070  0.724735  0.242395
2  0.316531  0.108981  0.523866
3  0.752558  0.007512  0.266930
4  0.734521  0.875610  0.163647
0.5247631052003394

In [37]:
print(rand_df.shape)
print(type(rand_df))

(20, 10)
<class 'pandas.core.frame.DataFrame'>

In [39]:
address=pd.read_csv('/addresses.csv')
address

,John,Doe,120 jefferson st.,Riverside,NJ,08075
0,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
1,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
2,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
3,NaN,Blankman,NaN,SomeTown,SD,298
4,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123

In [66]:
address.index=['first','second','third','fourth','fifth']  #to change index values
# address.reset_index() will reset index to 0,1,2,3....
address.reset_index(drop= True)  #will delete the index
print(address)
address.reset_index(drop= False, inplace=True)
print(address)

         index                   John       Doe  \
first    first                  0.111  McGinnis
second  second          John "Da Man"    Repici
third    third                Stephen     Tyler
fourth  fourth                    NaN  Blankman
fifth    fifth  Joan "the bone", Anne       Jet

                       120 jefferson st.    Riverside   NJ   08075      1
first                       220 hobo Av.        Phila   PA    9119  654.0
second                 120 Jefferson St.    Riverside   NJ    8075    NaN
third   7452 Terrace "At the Plaza" road     SomeTown   SD   91234    NaN
fourth                               NaN     SomeTown   SD     298    NaN
fifth                9th, at Terrace plc  Desert City   CO     123    NaN
  level_0   index                   John       Doe  \
0   first   first                  0.111  McGinnis
1  second  second          John "Da Man"    Repici
2   third   third                Stephen     Tyler
3  fourth  fourth                    NaN  Blankman
4   fifth   fifth  Joan "the bone", Anne       Jet

                  120 jefferson st.    Riverside   NJ   08075      1
0                      220 hobo Av.        Phila   PA    9119  654.0
1                 120 Jefferson St.    Riverside   NJ    8075    NaN
2  7452 Terrace "At the Plaza" road     SomeTown   SD   91234    NaN
3                               NaN     SomeTown   SD     298    NaN
4               9th, at Terrace plc  Desert City   CO     123    NaN

In [41]:
address['John']['first']="0.111"   #to change a particulsr value
print(address)

                         John       Doe                 120 jefferson st.  \
first                   0.111  McGinnis                      220 hobo Av.
second          John "Da Man"    Repici                 120 Jefferson St.
third                 Stephen     Tyler  7452 Terrace "At the Plaza" road
fourth                    NaN  Blankman                               NaN
fifth   Joan "the bone", Anne       Jet               9th, at Terrace plc

          Riverside   NJ   08075
first         Phila   PA    9119
second    Riverside   NJ    8075
third      SomeTown   SD   91234
fourth     SomeTown   SD     298
fifth   Desert City   CO     123

<ipython-input-41-66a65f7b7eaf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  address['John']['first']="0.111"   #to change a particulsr value

In [42]:
address.index  #to know the indexes

Index(['first', 'second', 'third', 'fourth', 'fifth'], dtype='object')

In [43]:
address.columns  #names of all columns

Index(['John', 'Doe', '120 jefferson st.', 'Riverside', ' NJ', ' 08075'], dtype='object')

In [44]:
address.to_numpy()  #to convert into numpy

array([['0.111', 'McGinnis', '220 hobo Av.', 'Phila', ' PA', 9119],
       ['John "Da Man"', 'Repici', '120 Jefferson St.', 'Riverside',
        ' NJ', 8075],
       ['Stephen', 'Tyler', '7452 Terrace "At the Plaza" road',
        'SomeTown', 'SD', 91234],
       [nan, 'Blankman', nan, 'SomeTown', ' SD', 298],
       ['Joan "the bone", Anne', 'Jet', '9th, at Terrace plc',
        'Desert City', 'CO', 123]], dtype=object)

In [45]:
address.T  #transpose

,first,second,third,fourth,fifth
John,0.111,"John ""Da Man""",Stephen,NaN,"Joan ""the bone"", Anne"
Doe,McGinnis,Repici,Tyler,Blankman,Jet
120 jefferson st.,220 hobo Av.,120 Jefferson St.,"7452 Terrace ""At the Plaza"" road",NaN,"9th, at Terrace plc"
Riverside,Phila,Riverside,SomeTown,SomeTown,Desert City
NJ,PA,NJ,SD,SD,CO
08075,9119,8075,91234,298,123

In [46]:
address.sort_index(axis=0)  #sorted the first column in ascending order by default,axis can be 1

,John,Doe,120 jefferson st.,Riverside,NJ,08075
fifth,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123
first,0.111,McGinnis,220 hobo Av.,Phila,PA,9119
fourth,NaN,Blankman,NaN,SomeTown,SD,298
second,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
third,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234

In [47]:
address.sort_index(axis=0, ascending=False)  #sorted the first column in descending order ,axis can be 1

,John,Doe,120 jefferson st.,Riverside,NJ,08075
third,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
second,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
fourth,NaN,Blankman,NaN,SomeTown,SD,298
first,0.111,McGinnis,220 hobo Av.,Phila,PA,9119
fifth,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123

In [48]:
#address2=address  #any change in address2 will reflect change in address
#address2=address.copy()  #any change in address2 will not reflect change in address

In [62]:
address.loc['first',1]=654  #to change value
print(address.iloc[0,4]) #to indicate value of zero co;lumn and 4th row
print(address) 
print(address.iloc[[0,4],[1,2]])  #to print columns from 0 to 4 and rows from 1 to 2

 PA
                         John       Doe                 120 jefferson st.  \
first                   0.111  McGinnis                      220 hobo Av.
second          John "Da Man"    Repici                 120 Jefferson St.
third                 Stephen     Tyler  7452 Terrace "At the Plaza" road
fourth                    NaN  Blankman                               NaN
fifth   Joan "the bone", Anne       Jet               9th, at Terrace plc

          Riverside   NJ   08075      1
first         Phila   PA    9119  654.0
second    Riverside   NJ    8075    NaN
third      SomeTown   SD   91234    NaN
fourth     SomeTown   SD     298    NaN
fifth   Desert City   CO     123    NaN
            Doe    120 jefferson st.
first  McGinnis         220 hobo Av.
fifth       Jet  9th, at Terrace plc

In [78]:
ser=pd.Series(np.random.rand(34))
type(ser)

pandas.core.series.Series